# sinkd user config template (rendered by `sinkd init`)
# Placeholders: {{watch}}, {{interval}}

[rsync]
compress = false
partial = true

[[anchors]]
path = "{{watch}}"
interval = {{interval}}
excludes = []
