stages:
  - build
  - release

variables:
  VERSION: $(shell cargo pkgid -p sinkd | cut -d# -f2)

build:linux:amd64:
  stage: build
  tags:
    - saas-linux-small-amd64
  image: 
    name: registry.gitlab.com/ballast-dev/sinkd/amd64:0.1.0
    entrypoint: [""]
  script:
    - cargo clippy -p sinkd
    - cargo build --release -p sinkd --target x86_64-unknown-linux-gnu
  artifacts:
    name: "sinkd-amd64-$CI_COMMIT_SHORT_SHA"
    paths:
      - target/x86_64-unknown-linux-gnu/release/sinkd
    expire_in: 7 days

build:linux:arm64:
  stage: build
  tags:
    - saas-linux-small-arm64
  image: 
    name: registry.gitlab.com/ballast-dev/sinkd/arm64:0.1.0
    entrypoint: [""]
  script:
    - cargo clippy -p sinkd
    - cargo build --release -p sinkd --target aarch64-unknown-linux-gnu
  artifacts:
    name: "sinkd-arm64-$CI_COMMIT_SHORT_SHA"
    paths:
      - target/aarch64-unknown-linux-gnu/release/sinkd
    expire_in: 7 days

build:windows:amd64:
  stage: build
  tags:
    - saas-windows-medium-amd64
  before_script:
    - rustup default stable
    - rustup target add x86_64-pc-windows-msvc
    - rustup component add clippy
  script:
    - cargo clippy -p sinkd
    - cargo build --release -p sinkd --target x86_64-pc-windows-msvc
  artifacts:
    name: "sinkd-windows-$CI_COMMIT_SHORT_SHA"
    paths:
      - target/x86_64-pc-windows-msvc/release/sinkd.exe
    expire_in: 7 days

release_sinkd:
  stage: release
  image: registry.gitlab.com/gitlab-org/cli:latest
  needs:
    - job: build:linux:amd64
      artifacts: true
    - job: build:linux:arm64
      artifacts: true
    - job: build:windows:amd64
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
  tags:
    - saas-linux-small-amd64
  script:
    - mkdir -p release
    - cp target/x86_64-unknown-linux-gnu/release/sinkd release/sinkd-linux-amd64
    - cp target/aarch64-unknown-linux-gnu/release/sinkd release/sinkd-linux-arm64
    - cp target/x86_64-pc-windows-msvc/release/sinkd.exe release/sinkd-windows-amd64.exe
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: 'Release $CI_COMMIT_TAG of sinkd'
    tag_name: $CI_COMMIT_TAG
    ref: $CI_COMMIT_SHA
    assets:
      links:
        - name: 'sinkd-linux-amd64'
          url: '$CI_JOB_URL/artifacts/raw/release/sinkd-linux-amd64'
        - name: 'sinkd-linux-arm64'
          url: '$CI_JOB_URL/artifacts/raw/release/sinkd-linux-arm64'
        - name: 'sinkd-windows-amd64'
          url: '$CI_JOB_URL/artifacts/raw/release/sinkd-windows-amd64.exe'