image: "rust:latest"

stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  before_script:
    - apt-get update -yqq
    - apt-get install -yqq --no-install-recommends build-essential cmake libssl-dev pkg-config
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo build --release
  artifacts:
  paths:
    - target/

test:cargo:  # only runs after build
  script:
    - cargo test --workspace --verbose


test:lint-job: # parallel execution
  script:
    - cargo clippy

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."

