stages:
  - build
  - test
  - deploy

image: "rust:latest"

# Optional: Install a C compiler, cmake and git into the container.
# You will often need this when you (or any of your dependencies) depends on C code.
before_script:
  - apt-get update -yqq
  - apt-get install -yqq --no-install-recommends openssl-dev

build-job:
  stage: build
  script:
    - echo "Compiling the code..."
    - echo "Compile complete."

test:cargo:
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    # - cargo test --workspace --verbose


test:lint-job: # parallel execution
  script:
    - cargo clippy

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."

