image: "nixos/nix:latest"

stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - 
    - nix-shell --run "rustc --version && cargo --version"  # Print version info for debugging
    - nix-shell --run "cargo build --release"
  artifacts:
    paths:
      - target/

test:cargo:
  script:
    - nix-shell --run "cargo test --workspace --verbose"

test:lint-job:
  script:
    - nix-shell --run "cargo clippy"

deploy-job:
  stage: deploy
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."

