stages:
  - build

variables:
  VERSION: $(bump --print)

build-release:
  stage: build
  image: 
    name: registry.gitlab.com/ballast-dev/sinkd/amd64:0.1.0
    entrypoint: [""]
  script:
    - cargo build --release -p sinkd --target x86_64-unknown-linux-gnu
    - cargo build --release -p sinkd --target aarch64-unknown-linux-gnu
  artifacts:
    name: "sinkd-binaries-$CI_COMMIT_SHORT_SHA"
    paths:
      - target/x86_64-unknown-linux-gnu/release/sinkd
      - target/aarch64-unknown-linux-gnu/release/sinkd
    expire_in: 7 days
