variables:
  IMAGE_NAME: "registry.gitlab.com/ballast-dev/sinkd"
  IMAGE_VERSION: "0.1.0"

stages:
  - build

build-arm64:
  stage: build
  image: 
    name: $IMAGE_NAME/arm64:$IMAGE_VERSION
    entrypoint: [""]  # override the entrypoint
  script:
    - just ci

build-amd64:
  stage: build
  image: 
    name: $IMAGE_NAME/amd64:$IMAGE_VERSION
    entrypoint: [""]
  script:
    - just ci