image: docker:24.0.5

services:
  - docker:24.0.5-dind

variables:
  IMAGE_NAME: "registry.gitlab.com/ballast-dev/sinkd"
  IMAGE_VERSION: "0.1.0"

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - build

build-arm64:
  stage: build
  image: $IMAGE_NAME/arm64:$IMAGE_VERSION
  script:
    - just ci

build-amd64:
  stage: build
  image: $IMAGE_NAME/amd64:$IMAGE_VERSION
  script:
    - just ci