stages:
  - build
  - test
  - deploy

image: "rust:latest"

before_script:
  - apt-get update -yqq
  - apt-get install -yqq --no-install-recommends openssl-dev \
      build-essential \
      cmake \
      libssl-dev \
      pkg-config

build-job:
  stage: build
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo build --release

test:cargo:
  script:
    - cargo test --workspace --verbose


test:lint-job: # parallel execution
  script:
    - cargo clippy

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."

