[package]
name = "sinkd"
version = "0.1.0"
authors = ["Tony <tony@sinkd.co>"]
edition = "2018"
# build = "build.rs"

# [build]
# rustflags = ["--extern=~/Projects/paho.mqtt.rust/target/release/libpaho_mqtt.rlib"]

[dependencies]
clap = "2.33.3"
notify = "4.0.15"
regex = "1.4.2"
serde = "1.0.117"
serde_derive = "1.0.117"
toml = "0.5.7"
daemonize = "0.4.1"
# "std" is to enable set_boxed_logger
log = { version = "0.4.11", features = ["std"] }
paho-mqtt = "0.8.0"
libc = "0.2.81"
# paho-mqtt-sys = { version = "0.4", path = "paho-mqtt-sys", default-features=false }
# futures = { version = "0.3", features = ["compat"] }
# futures-timer = "3.0.2"
# thiserror = "1.0"

[dev-dependencies]
futures-util = "0.3"
async-std = "1"

[build-dependencies]
# clap = "2.33.0"
cc = { version = "1.0" }
