[package]
name = "sinkd"
version = "0.1.0"
authors = ["Tony <tony@sinkd.co>"]
edition = "2018"
build = "src/build.rs"

# [build]
# rustflags = ["--extern=~/Projects/paho.mqtt.rust/target/release/libpaho_mqtt.rlib"]

[dependencies]
clap = "2.33.3"
notify = "4.0.15"
regex = "1.4.5"
serde = "1.0.125"
serde_derive = "1.0.125"
toml = "0.5.8"
daemonize = "0.4.1"
# "std" is to enable set_boxed_logger
log = { version = "0.4.14", features = ["std"] }
paho-mqtt = "0.9.1"
libc = "0.2.91"
rpassword = "5.0.1"
# paho-mqtt-sys = { version = "0.4", path = "paho-mqtt-sys", default-features=false }
# futures = { version = "0.3", features = ["compat"] }
# futures-timer = "3.0.2"
# thiserror = "1.0"

[dev-dependencies]
futures-util = "0.3.13"
async-std = "1.9.0"

[build-dependencies]
# clap = "2.33.0"
cc = { version = "1.0.67" }
