[package]
name = "sinkd"
version = "0.1.0"
authors = ["Tony <tbright@sandel.com>"]
edition = "2018"

[dependencies]
clap = "2.32.0"
notify = "4.0.7"
regex = "1.1.0"
serde = "1.0.89"
serde_derive = "1.0.89"
toml = "0.4.10"