[package]
name = "sinkd"
version = "0.1.0"
authors = ["Tony <krakjn@gmail.com>"]
edition = "2021"
build = "src/build.rs"

[dependencies]
clap = "4.0.32"
crossbeam = "0.8"
notify = "4.0.17"
regex = "1.4.5"
serde = { version = "1.0.125", features = ["derive"] }
bincode = "1.2.0"
toml = "0.5.8"
daemonize = "0.4.1"
# "std" is to enable set_boxed_logger
log = { version = "0.4.14", features = ["std"] }
libc = "0.2.91"
rpassword = "7.0.0"

# the dependency openssl-sys has bindings which are needed for cross compile
paho-mqtt = { version = "0.11", features = ["vendored-ssl"] }

[dev-dependencies]
futures-util = "0.3.13"
async-std = "1.9.0"

[build-dependencies]
# cargo lib to build c code statically
cc = { version = "1.0" }
# clang-sys = { features = ["static"]}
# paho-mqtt-sys = { version = "0.7", features = ["vendored-ssl"]}
# PAHO is messing this up, they are using their own openssl-src
# openssl = { version = "0.10", features = ["vendored"] }


# [features]
# default = ["bundled", "ssl"]
# bundled = ["paho-mqtt-sys/bundled"]
# build_bindgen = ["paho-mqtt-sys/build_bindgen"]
# ssl = ["paho-mqtt-sys/ssl"]
# vendored-ssl = ["paho-mqtt-sys/vendored-ssl"]