[package]
name = "sinkd"
version = "0.1.0"
authors = ["Tony <krakjn@gmail.com>"]
edition = "2021"

[workspace]
resolver = "2"
members = [ "scenario" ]

[dependencies]
bincode = "1"
chrono = "0.4"
clap = "4"
crossbeam = "0.8"
libc = "0.2"
log = { version = "0.4", features = ["std"] }
nix = { version = "0.29", features = ["process", "signal"] }
notify = "8"
paho-mqtt = { version = "0.13", features = ["ssl"] }
serde = { version = "1.0", features = ["derive"] }
signal-hook = "0.3"
toml = "0.8"
windows = { version = "0.59.0", features = [
    "Win32_Foundation",
    "Win32_Security",
    "Win32_System_Console",
    "Win32_System_SystemInformation",
    "Win32_System_Threading",
    "Win32_System_WindowsProgramming",
] }