[package]
name = "sinkd"
version = "0.1.0"
authors = ["Tony <krakjn@gmail.com>"]
edition = "2021"
build = "src/build.rs"

[dependencies]
clap = "3.1.14"
# crossbeam = "0.8"
notify = "4.0.17"
regex = "1.4.5"
serde = "1.0.125"
serde_derive = "1.0.125"
toml = "0.5.8"
daemonize = "0.4.1"
# "std" is to enable set_boxed_logger
log = { version = "0.4.14", features = ["std"] }
libc = "0.2.91"
rpassword = "6.0.1"
paho-mqtt = "0.11.0"

[dev-dependencies]
futures-util = "0.3.13"
async-std = "1.9.0"

[build-dependencies]
# cargo lib to build c code statically
cc = { version = "1.0.67" }
