services:
  alpha:
    image: registry.gitlab.com/ballast-dev/sinkd/arm64:0.1.0
    container_name: sinkd-alpha
    hostname: alpha
    entrypoint: [""]
    volumes:
      - ./cfg/scenario/alpha.conf:/etc/sinkd.conf
      - ./cfg/scenario/alpha-user.conf:/root/.config/sinkd.conf
      - .:/workspace
      - ./test_scenarios:/mounted_path/test_scenarios
    working_dir: /workspace
    networks:
      - nsync
    command: ["/bin/bash", "-c", "./target/debug/sinkd server start & sleep 3 && ./target/debug/scenario alpha"]
    environment:
      - RUST_LOG=info
      - WORKDIR=/workspace
    healthcheck:
      test: ["CMD", "pgrep", "-f", "sinkd.*server"]
      interval: 5s
      timeout: 3s
      retries: 5

  bravo:
    image: registry.gitlab.com/ballast-dev/sinkd/arm64:0.1.0
    container_name: sinkd-bravo
    hostname: bravo
    entrypoint: [""]
    volumes:
      - ./cfg/scenario/bravo.conf:/etc/sinkd.conf
      - ./cfg/scenario/bravo-user.conf:/root/.config/sinkd.conf
      - .:/workspace
      - ./test_scenarios:/mounted_path/test_scenarios
    working_dir: /workspace
    networks:
      - nsync
    depends_on:
      alpha:
        condition: service_healthy
    command: ["/bin/bash", "-c", "./target/debug/sinkd client start & sleep 3 && ./target/debug/scenario bravo"]
    environment:
      - RUST_LOG=info
      - WORKDIR=/workspace

  charlie:
    image: registry.gitlab.com/ballast-dev/sinkd/arm64:0.1.0
    container_name: sinkd-charlie
    hostname: charlie
    entrypoint: [""]
    volumes:
      - ./cfg/scenario/charlie.conf:/etc/sinkd.conf
      - ./cfg/scenario/charlie-user.conf:/root/.config/sinkd.conf
      - .:/workspace
      - ./test_scenarios:/mounted_path/test_scenarios
    working_dir: /workspace
    networks:
      - nsync
    depends_on:
      alpha:
        condition: service_healthy
    command: ["/bin/bash", "-c", "./target/debug/sinkd client start & sleep 3 && ./target/debug/scenario charlie"]
    environment:
      - RUST_LOG=info
      - WORKDIR=/workspace

  delta:
    image: registry.gitlab.com/ballast-dev/sinkd/arm64:0.1.0
    container_name: sinkd-delta
    hostname: delta
    entrypoint: [""]
    volumes:
      - ./cfg/scenario/charlie.conf:/etc/sinkd.conf
      - ./cfg/scenario/charlie-user.conf:/root/.config/sinkd.conf
      - .:/workspace
      - ./test_scenarios:/mounted_path/test_scenarios
    working_dir: /workspace
    networks:
      - nsync
    depends_on:
      alpha:
        condition: service_healthy
    command: ["/bin/bash", "-c", "./target/debug/sinkd client start & sleep 3 && ./target/debug/scenario delta"]
    environment:
      - RUST_LOG=info
      - WORKDIR=/workspace

# volumes:
#   alpha_data:
#     driver: local
#   bravo_data:
#     driver: local
#   charlie_data:
#     driver: local

networks:
  nsync:
    driver: bridge
