# sinkd system config template (rendered by `sinkd-srv init` and `sinkd init` for system file)
# Placeholders: {{server_addr}}, {{users}}

server_addr = "{{server_addr}}"
users = [{{users}}]

[rsync]
compress = false
partial = true
